
.entry {
  font-size: 10pt;
  font-family: monospace;
  border-bottom: 1px dotted grey;
  padding: 5px 0px;
}

/**
 *   Styling for the components of each entry
 */

.entry .date {
  color: grey;
  font-style: italic;
  min-width: 100px;
  font-size: 9pt;
}

.entry .message {
}

/**
 *   Styling for different kinds of entries 
 */
.entry.info {
  
}

.entry.notification {
  color: grey !important;
  font-style: italic;
  border-bottom: none;
  padding: 0px 5px;
}

.entry.error {
  color: red !important;
  font-weight: bold;
  border-bottom: none;
  padding: 0px 5px;
}
